body, html{
    margin: 0;
}

.button-avancar{
    height: 40px;
    width: 100%;
}  

/* Estilos para dispositivos móveis (celulares) */
@media only screen and (max-width: 576px) {
    .form-pai{
        background-color: white;
        border-radius: 20px;
        width: 95%;    
    }
  }
  
  /* Estilos para tablets */
  @media only screen and (min-width: 577px) and (max-width: 1024px) {

  }
  