body,
html {
  color: black;
  width: 100%;
  height: 100%;
  background: url("/image/background.png");
  background-size: cover
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  /* Adiciona a cor de fundo para o corpo */
}

.main {
  background-color: white;
  width: 80%;
  flex: 0.8;
}

.jomhuria-regular {
  font-family: "Jomhuria", serif;
  font-weight: 600;
  font-style: normal;
}