.yourpastes {
    background-color: #FBF8F8;
    height: 62vh;
    overflow-y: inherit; /* Adicionando barra de rolagem vertical */
}

.div-input {
    height: 12vh;
}

.input-wrapper {
    height: 8vh;
    font-size: x-large;
    width: 80%;
    background-color: white;
    border: solid red;
    display: flex;
    align-items: center;
    padding: 0 10px; /* Adicionando espaçamento interno */
}

.search-img {
    margin-right: 2%;
}

input {
    background-color: transparent;
    height: 100%;
    color: #212529;
    outline: none;
    border: none;
}

input::placeholder {
    color: #212529;
}

.div-class {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.class {
    background-color: #fcfcfc;
    color: #181819;
    border: #212529 solid 3px;
    height: 20vh; /* Altura fixa */
    width: calc(35vh - 20px); /* Definindo largura das classes */
    margin-bottom: 20px; /* Adicionando espaçamento entre as classes */
    box-sizing: border-box; /* Incluindo padding e borda na largura */
    display: flex;
    align-items: center;
    justify-content: center;
}
